name: Deploy as GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v5
      - name: build/install
        uses: withastro/action@v5
        with:
          path: .
          packageManager: pnpm@10.12.3
          build-cmd: pnpm run build
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy as GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4